* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
}

.game {
  position: absolute;
  z-index: -5;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  transform: none;
}

.view {
  position: absolute;
  background: #666;
  height: 90vh;
  width: 90vw;
  /* z-index: -1; */
}

.wheel {
  background-color: #5aa;
  position: absolute;
  width: 40vw;
  height: 40vw;
  top: 75%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.applogo {
  height: 60vmin;
  pointer-events: none;
}
